pycache/ *.py[cod]
.venv/ venv/ tf_env/
.ipynb_checkpoints/
data/raw/.csv data/archive/.csv data/processed/.csv data/processed/.pkl
spectrograms/*.npy
models/.keras models/.h5
results/.png results/.json results/*.txt
txt_logs/*.txt pipeline.log *.log
.vscode/ .idea/
.DS_Store Thumbs.db
